*{
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

@media only screen and (max-width:1024) {
  .App{
    width: 100%;
  }
}

@media only screen and (max-width:512) {
  .App{
    width: 100%;
  }
}